body {
  font-family: "Quicksand", sans-serif;
  transition: 0.3s;
  margin: 0;

  overflow-x: hidden;
}

main {
  padding-right: 10%;
  padding-left: 10%;
  transition: 0.3s;
  min-height: 100vh;
  overflow-x: hidden;

  position: relative;
}

.main-light {
  background: white;
}

.main-dark {
  background: #191919;
}

h1 {
  transition: 0.3s;
}

.h1-light {
  color: black;
}

.h1-dark {
  color: rgb(220, 220, 220);
}

p {
  transition: 0.3s;
}

.p-light {
  color: black;
}

.p-dark {
  color: rgb(220, 220, 220);
}

.edt-case {
  position: absolute;

  width: calc(100% - 45px);
  margin-left: 45px;

  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;

  z-index: 10;
}

.edt-case > div {
  margin-top: 36px;
  width: calc(20% - 2px);
  height: calc(100% - 37px);

  margin-right: 2px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;

  transition: 0.3s;
  transform: translateX(-5px);
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

.edt-case div .cours {
  width: 100%;
  margin-bottom: 1px;
}

.edt-case div .cours > div {
  transition: 0.3s;
  border-radius: 5px;
  height: 100%;

  margin-left: 3px;
  margin-right: 3px;

  position: relative;
}

.edt-case div .cours > div > div {
  font-family: "Quicksand", sans-serif;
  height: 100%;

  text-transform: capitalize;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #ffffff;
  border-left: 1px solid #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-left: 0px solid #ffffff;
  border-radius: 3px;
}

@media screen and (max-width: 1780px) {
  main {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 1265px) {
  .edt-case {
    width: 1200px;
  }
}

@media screen and (max-width: 1320px) {
  main {
    padding-right: 3%;
    padding-left: 3%;
  }
}

@media screen and (max-width: 400px) {
  .edt-case > div {
    width: calc(20% - 12px);
    margin-right: 3px;
  }
}
